@font-face {
    font-family: 'Inferno';
    src: url('../assets/Fonts/inferno.ttf');
}

@font-face {
    font-family: 'Game-Over';
    src: url('../assets/Fonts/game-over.ttf');
}

@font-face {
    font-family: 'ConstantiaBold';
    src: url('../assets/Fonts/Constantia Bold.ttf');
}

@font-face {
    font-family: 'Constantia Regular';
    src: url('../assets/Fonts/Constantia Regular.ttf');
}

@font-face {
    font-family: 'Khmer';
    src: url('../assets/Fonts/Khmer UI Regular.ttf');
}

@font-face {
    font-family: 'Cambria Regular';
    src: url('../assets/Fonts/Cambria Regular.ttf');
}

@font-face {
    font-family: 'Palatino Regular';
    src: url('../assets/Fonts/Palatino Linotype Regular.ttf');
}

body {
    font-family: 'Inferno', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.headline {
    color: rgb(255,182,108);

}

.fire-text {
    background: url('../assets/Fonts/fire-texture.jpg');
    background-repeat: repeat;
    background-size: 100% 400px;
    background-position: 0 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text; 
    font-family: Inferno;
    font-size: clamp(50px, 6vw, 80px);
    /* font-size: 80px; */
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255,182,108);
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 8s linear infinite;
}

.golden-text-40 {
    background: url('../assets/Fonts/yellow-wall-texture-with-scratches.jpg');
    background-repeat: repeat;
    background-size: 20% 100px;
    background-position: 0 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text; 
    font-family: Palatino Regular;
    font-size: 40px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255,182,108);
}

.golden-text-30 {
    background: url('../assets/Fonts/yellow-wall-texture-with-scratches.jpg');
    background-repeat: repeat;
    background-size: 20% 100px;
    background-position: 0 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text; 
    font-family: Palatino Regular;
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255,182,108);
}

.golden-text-16 {
    background: url('../assets/Fonts/yellow-wall-texture-with-scratches.jpg');
    background-repeat: repeat;
    background-size: 20% 100px;
    background-position: 0 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text; 
    font-family: Palatino Regular;
    font-size: 16px;
    padding: 0;
    margin-top: 10px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255,182,108);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
}



@-webkit-keyframes stripes {
    100% {
      background-position: 0 -530px;
    }
  }
  
  @keyframes stripes {
    100% {
      background-position: 0 -400px;
    }
  }

canvas {
    background-color: black;
    display: block;
    border-radius: 5px;
}

.background-img {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/output_2694186077_0.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-header-cont {
    background-image: url('../assets/GUI/Menu/menu_bar.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    max-width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.canvas-overlay {
    z-index: 0;
    background-image: url('../assets/GUI/Window/inner_c4.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 480px;
    border-radius: 5px;
    opacity: 1;
    flex-wrap: wrap;
}

.menu-btn {
    z-index: 1;
    background-image: url('../assets/GUI/Button Small/button_small.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.menu-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/GUI/Button Small/button_small_hover.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    z-index: 0;
    border-radius: 5px;
}

.menu-btn:hover::before {
    opacity: 1;
    cursor: pointer;
}


.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.menu-corner {
    z-index: 1;
    background-image: url('../assets/GUI/Window/window_corner.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
    top: -90px;
    left: -10px;
    margin-bottom: -300px;
}

.menu-ingame {
    background-image: url('../assets/GUI/Window/inner_c4.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 480px;
    border-radius: 5px;
    opacity: 1;
}

.d-none {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease-in-out; 
}

.z.index3 {
    z-index: 5;
}

.fire-text.transparent {
    background: url(../assets/Fonts/fire-texture.jpg);
    background-repeat: repeat;
    background-size: 100% 400px;
    background-position: 0 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-family: Inferno;
    font-size: clamp(50px, 6vw, 80px);
    /* font-size: 80px; */
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 182, 108);
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 8s linear infinite;
    opacity: 1;
}

.adjusted-headline {
    font-size: clamp(50px, 6vw, 80px);
}

.row {
    padding-top: 15px;
    justify-content: flex-start;
    width: 220px;
    height: 50px;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.x-button {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px 0 0;
    margin-bottom: -30px;
}

.x-button-background {
    position: relative;
    background-image: url('../assets/GUI/Window/InputField_Background2.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out; 
}

.x-button-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/GUI/Window/close_hover.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.x-button-background:hover::after {
    opacity: 1;
    cursor: pointer;
}

.x-image {
    padding-top: 7px;
}

.control-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;

}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .canvas-overlay {
        width: 80%;
        /* height: auto; */
        height: 320px;
        padding-bottom: 30px;
    }

    .menu-corner {
        top: -13px;
        left: -8px;
    }

    .x-button {
        padding: 15px 13px 0 0;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .canvas-overlay {
        height: auto;
    }
}

@media (max-height: 600px) {
    /* h1 {
        display: none;
    } */
}